﻿html, body, form, #wrapper
{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: small;
    background-color: #00253C;
    
}

* html html, * html body, * html form
{
    height: 100%; /*IE6 only*/
    width: 70%;
}

#Header
{
    height: 160px;
    background: url(../Images/logolaunch.png);
    /*background: url(../Images/logo.png);*/
    background-position: 10px 18px;
    background-repeat: no-repeat;
    width: 100%;
}

#wrapper
{
    position: relative;
    padding: 0 20px 20px 20px;
    bottom: 0;
}

#Header, #Body
{
    
}

#Body
{
    top: 120px;
    bottom: 10px;
    background: white;
    padding: 20px;
}

/*#InnerBody
{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
}*/

hr
{
    border: none;
    border-top: 1px solid #CCCCCC;
    height: 1px;
    margin-bottom: 5px;
}

.lblTUTorquise
{
    color: #01847e;
}
.lblMedium
{
    font-size: medium;
}

#divLearner
{
   
}

#divTrainer
{
    
}

/*GRID*/
.RadGrid3
{
    overflow: hidden;
    border-style: hidden;
}
.RadGrid3 label
{
    /*color: #606060 !important;*/
}
.RadGrid3 a
{
    text-decoration: none !important;
    color: #0000CC !important;
}
.RadGrid3 a:hover
{
    /*color: #01847e !important;*/
}
.RadGrid3 table.rgMasterTable tr .rgGroupCol, .RadGrid3 table.rgMasterTable tr .rgExpandCol
{
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
}
.RadGrid3 .rgMasterTable td.rgGroupCol, .RadGrid3 .rgMasterTable td.rgExpandCol
{
    background: none !important;
}
.RadGrid3 .rgMasterTable td.rgGroupCol:hover, .RadGrid3 .rgMasterTable td.rgExpandCol:hover
{
    background: none !important;
    background-color: #ffffff !important;
}
.RadGrid3 .rgRow td
{
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;
    font-size: medium;
}
.RadGrid3 .rgAltRow td
{
    /*border-style: solid !important;*/
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;
    font-size: medium;
}
.RadGrid3 .rgSelectedRow, .RadGrid3 .rgAltRow
{
    background: none !important;
    color: black !important;
}
/*.RadGrid3 input.rgExpand
{
    background: url(../Images/expand.png) center center no-repeat;
}
.RadGrid3 input.rgCollapse
{
    background: url(../Images/collapse.png) center center no-repeat;
}*/
.RadGrid3 .rgHoveredRow
{
    background: none !important;
    background-color: #002136 !important;
    background-image: none !important;
    color: #ffffff !important;
    font-size: 14pt !important;
}
.RadGrid3, .RadGrid3 .rgMasterTable, .RadGrid3 .rgDetailTable, .RadGrid3 .rgGroupPanel table, .RadGrid3 .rgCommandRow table, .RadGrid .rgEditForm table, .RadGrid3 .rgPager table, .GridToolTip
{
    font-size: 12px !important;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif !important;
}
.RadGrid3 .rgDetailTable
{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #bfbfbf !important;
}
.RadGrid3 .rgHeader
{
    /*background-color: #01847e !important;*/
    text-transform: none !important;
    border-left: 0 !important;
    padding: 5px 0 7px 0 !important;
}
.RadGrid3 .rgHeader, .RadGrid3 .rgHeader a
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    font-size: 10pt !important;
    color: #FFF !important;
}
.RadGrid3 .rgCommandRow a
{
    font-size: 12px !important;
}
.RadGrid3 .rgCommandRow button
{
    z-index: 1;
}
/*.RadGrid3 .rgGroupHeader
{
    color: #01847e !important;
}*/
.RadGrid3 .rgGroupHeader td
{
    padding-left: 0 !important;
}
.RadGrid3 .rgGroupHeader td p
{
    color: #01847e;
    padding: 0;
    
    /*font-weight: bold;*/
}
.RadGrid3 .rgHeader .rgSortAsc, .RadGrid3 .rgHeader .rgSortDesc
{
    background-position: 0 0 !important;
}

/*-------------------------------------------------------------------------------------*/

.RadGrid4
{
    overflow: hidden;
    border-style: hidden;
}
.RadGrid4 a
{
    text-decoration: none !important;
    color: #0000CC !important;
}
.RadGrid4 table.rgMasterTable tr .rgGroupCol, .RadGrid4 table.rgMasterTable tr .rgExpandCol
{
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
}
.RadGrid4 .rgMasterTable td.rgGroupCol, .RadGrid4 .rgMasterTable td.rgExpandCol
{
    background: none !important;
}
.RadGrid4 .rgMasterTable td.rgGroupCol:hover, .RadGrid4 .rgMasterTable td.rgExpandCol:hover
{
    background: none !important;
    background-color: #ffffff !important;
}
.RadGrid4 .rgRow td
{
    /*border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;*/
    font-size: small;
    
}
.RadGrid4 .rgAltRow td
{
    /*border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;*/
    font-size: small;
}
.RadGrid4 .rgSelectedRow, .RadGrid4 .rgAltRow
{
    background: none !important;
    color: black !important;
}
.RadGrid4 .rgHoveredRow
{
    background: none !important;
    background-color: #002136 !important;
    background-image: none !important;
    color: #ffffff !important;
    /*font-size: 14pt !important;*/
}
.RadGrid4, .RadGrid4 .rgMasterTable, .RadGrid4 .rgDetailTable, .RadGrid4 .rgGroupPanel table, .RadGrid4 .rgCommandRow table, .RadGrid .rgEditForm table, .RadGrid4 .rgPager table, .GridToolTip
{
    font-size: 12px !important;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif !important;
}
.RadGrid4 .rgDetailTable
{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #bfbfbf !important;
}
.RadGrid4 .rgHeader
{
    text-transform: none !important;
    border-left: 0 !important;
    padding: 5px 0 7px 0 !important;
}
.RadGrid4 .rgHeader, .RadGrid4 .rgHeader a
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    font-size: 10pt !important;
    color: #FFF !important;
}
.RadGrid4 .rgCommandRow a
{
    font-size: 12px !important;
}
.RadGrid4 .rgCommandRow button
{
    z-index: 1;
}
.RadGrid4 .rgGroupHeader td
{
    padding-left: 0 !important;
}
.RadGrid4 .rgGroupHeader td p
{
    color: #01847e;
    padding: 0 !important;
}
.RadGrid4 .rgHeader .rgSortAsc, .RadGrid4 .rgHeader .rgSortDesc
{
    background-position: 0 0 !important;
}
.RadGrid4 .rgCollapse 
{
    display: none;
}

