/* CSS Document */
html, body, form
{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: small;
}
* html html, * html body, * html form
{
    height: 100%; /*IE6 only*/
}
body
{
    margin-top: 0;
    background: #FFF url(../Images/BG2.jpg) repeat fixed;
    background-size: cover;
}
body, td
{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
}

.MyModalPanel
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1 url(../Images/loadingdset.gif) center center no-repeat;
}
#ParentDivElement
{
    height: 100%;
    width: 100%;
    position: relative;
}
#ParentDivElement .childPanel
{
    width: 100%;
    height: 100%;
    position: relative;
}
.container
{
    padding: 5px;
    width: auto;
    height: auto;
    border: solid 1px #ccc;
    position: relative;
}
.paneldefault
{
    border: solid 1px #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}
.insidecontainer
{
    background-color: #f1f1f1;
    padding: 10px;
}
.insidecontainer2
{
    background-color: #ffffff;
    padding: 10px;
}
.insidecontainer3
{
    background-color: #e4e4e4;
    padding: 10px;
}
.containerdefault
{
    background: #FFF;
    padding: 0 15px 0 15px;
    border-style: hidden;
    color: #606060 !important;
    margin-bottom: -1px;
}

#managecontrol
{
    padding: 1px;
    margin-bottom: 10px;
}
#managecontrol a
{
    padding: 4px 20px 4px 20px;
    text-decoration: none;
    background-color: #8d8d8d;
    color: #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
}
#managecontrol a:hover
{
    background-color: #9a9a9a;
    color: #333333;
}

#managecontrol2
{
    padding: 1px;
    margin-bottom: 10px;
}
#managecontrol2 a
{
    padding: 4px 15px 4px 15px;
    text-decoration: none;
    background-color: rgb(1, 132, 126);
    color: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}
#managecontrol2 a:hover
{
    background-color: rgb(0, 163, 156);
    color: #FFF;
}

.displayerror
{
    color: Red;
}

#apDivContainer
{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

#apDivHeaderSpacer
{
    height: 10px;
    background: #FFF;
}

#apDivHeader1
{
    opacity: .8;
    height: 30px;
    background: #002136;
    margin-top: 50px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -khtml-border-radius: 3px;
    border-style: hidden;
}

#apDivHeader1 a, #apDivHeader1 label
{
    color: #FFF;
    font-size: 11pt;
}

#apDivHeader1Navi
{
    text-align: right;
    margin-left: 300px;
    margin-right: 5px;
    padding: 5px 14px 0 0;
    font-size: 8pt;
    border-style: hidden;
}

#apDivHeader1Navi a:link
{
    color: #FFF;
    text-decoration: none;
    padding-left: 20px;
}
#apDivHeader1Navi a:visited
{
    text-decoration: none;
    color: #FFF;
}
#apDivHeader1Navi a:hover
{
    text-decoration: none;
    color: #ffd700;
}

#apDivHeader2
{
    height: 90px;
    background: #FFF url(../Images/logo.png);
    background-position: 10px 18px;
    background-repeat: no-repeat;
}

#apDivHeader3
{
    opacity: .8;
    height: 30px;
    background: #002136;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 13pt;
    border-style: hidden;
}

#apDivHeader3 label
{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #FFF;
    font-style: oblique;
}

#apDivHeader3 .grow
{
    color: #ffd700;
    font-style: italic;
}

#apDivHeader4
{
    height: 20px;
    border-style: hidden;
}

#apDivHeader5
{
    height: 14px;
    background: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: hidden;
}

#apDivHeader5menu
{
    background: #FFF;
    border-style: hidden;
}

#apDivHeader6
{
    height: 29px;
    background: #FFF;
    border-style: hidden;
}

#apDivHeader6Date
{
    padding-top: 9px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
    font-style: italic;
    font-size: 10pt;
    color: rgb(1, 132, 126);
}

#apDivHeader6SiteMap
{
    margin-left: 240px;
    margin-right: 20px;
}

#apDivHeader6SiteMap a:link
{
    color: #900;
    text-decoration: none;
}
#apDivHeader6SiteMap a:visited
{
    text-decoration: none;
    color: #900;
}
#apDivHeader6SiteMap a:hover
{
    text-decoration: underline;
    color: #333;
}
#apDivHeader6SiteMap a:active
{
    text-decoration: none;
    color: #900;
}

#apDivHeader7
{
    height: 15px;
    background: #FFF;
    border-style: hidden;
}

#apDivHeader7DropDownList
{
    margin-left: 240px;
    margin-right: 20px;
    text-align: right;
}
#apDivHeader6DropDownList select
{
    width: 300px;
}

#apDivContent
{
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
    position: inherit;
    width: inherit;
    border-style: hidden;
}

#apDivFooter
{
    height: 30px;
    background: #FFF;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: hidden;
}

#footerLink
{
    background: #FFF;
    border-style: hidden;
    padding: 10px 0 0 10px;
    margin-bottom: -1px;
}

#footerLink label
{
    color: rgb(19, 159, 141);
}

#footerLink a
{
    color: #11486A;
}

#footerLink a:hover
{
    color: #00253C;
}

#apDivNoAccess
{
    position: relative;
    background: #FFFFFF;
}

#apDivAdminPageBody
{
    position: relative;
    background: #FFF;
    border-style: hidden;
}

table#apTable1
{
    table-layout: auto;
    border-spacing: 0px;
    border: 1px solid #1C5E55;
    width: 100%;
    background: #E3EAEB;
}

table#apTable1 th
{
    border: 1px solid #1C5E55;
    background-color: #1C5E55;
    color: green;
    font-weight: bold;
    padding: 4px;
}

table#apTable1 td
{
    padding: 4px;
    vertical-align: top;
}

#spacerTop, #spacerTopCenter
{
    padding-top: 20px;
    width: 100%;
}

#apDivFormView
{
    padding-top: 20px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#spacerTopCenter
{
    text-align: center;
}

.hover:hover
{
    float: right;
    padding-right: 20px;
    width: 260px;
    text-align: left;
    color: #6FC9A9;
    background: #001538;
}

.searchLabel
{
    font-size: 8pt;
    color: #606060;
}

.pnlMain
{
    position: relative;
    min-height: 500px;
    background: #FFFFFF url(../Images/Transcom22.jpg) center top no-repeat;
    background-size: contain;
    border-style: hidden;
}

table.tblLogin
{
    background-color: rgb(19, 159, 141);
    opacity: .7;
    border-radius: 11px;
    top: 120px;
    right: 250px;
    position: relative;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

table.tblLogin:hover
{
    background-color: rgb(19, 159, 141);
    opacity: .9;
}

.tblFooter
{
    padding: 10px;
    width: 1100px;
    opacity: .7;
    height: 50px; /*background: rgb(1, 132, 126);*/
    background: rgb(1, 132, 126);
    margin-top: 20px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    margin-bottom: 30px;
    border-style: hidden;
}
.tblFooter a, .tblFooter label
{
    color: #FFF;
    font-size: 100%;
}
.tblFooter a:hover
{
    color: #ffd700;
}

/*.rgCommandRow
{
    background: #5B5B5B !important;
    color: #FFF !important;
}

.rgHeader
{
    background: #001538 !important;
    color: #FFF !important;
}

.RadGrid_WebBlue
{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
*/

.TabControl .ajax__tab_body
{
    border-top: solid 5px #001538 !important;
}

.TabControl .ajax__tab_hover .ajax__tab_tab
{
    color: #6FC9C4 !important;
    background: #001538 !important;
}

.ajax__tab_outer
{
    border: solid 1px #001538 !important;
}
.TabControl .ajax__tab_header
{
    color: #001538 !important;
}

.divBorder
{
    border-style: hidden;
    background: #FFF;
}






